<form class="form-inline" action="/login" method="POST">
    <label for="email" style="padding-right: 5px;">E-mail cím: </label>
    <input class="form-control mr-sm-2" type="email" id="email" name="email" placeholder="ex@email.com">
    <label for="pw" style="padding-right: 5px;">Jelszó: </label>
    <input class="form-control mr-sm-2" type="password" id="pw" name="password" placeholder="password">
    <button type="submit" class="btn btn-success my-2 my-sm-0" style="margin-right: 5px;">Belépés</button>
</form>