<%- include('header'); %>
    <div class="container">
        <h1>Keresés</h1>
        <form action="/pub" method="POST">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Név:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="form-group row">
                        <label for="adress" class="col-sm-2 col-form-label">Cím:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="adress" name="adress">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <button type="submit" class="btn" value="Keresés" style="float:right"> Keresés </button>
                </div>
            </div>
        </form>
        <hr>
        <div style="overflow-y: auto; overflow-x: hidden">
            <div class="row">
                <% for( k in pubs){ var pub = pubs[k]; %>
                    <div class="col-md-3" style="text-align: center">
                        <% var hrefString = "/pub/detail/"+ pub.id; console.log(hrefString); %>
                            <a href="<%= hrefString %>">
                                <label>
                                    <%= pub.name %>
                                </label>
                            </a>
                    </div>
                    <% }%>
            </div>
        </div>


    </div>
    <%- include('footer'); %>