<table class="table">
        <thead>
            <tr>
                <th>Hely</th>
                <th>Pont</th>
                <th style="width: 140px"></th>
            </tr>
        </thead>
        <% for (k in user.pubs){ var pubs = user.pubs[k];  %>
            <tr>
                <td><%= pub.name %></td>
                <td><i class="material-icons">mode_edit</i><i class="material-icons">delete</i> </td>
            </tr>
        <% } %>
</table>